<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button clear (click)="goBackToMine()"></button>
        </ion-buttons>
        <ion-title>更改密码</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-label fixed>旧密码：</ion-label>
        <ion-input type="text" [(ngModel)]="user.password" placeholder="请输入旧密码"></ion-input>
    </ion-row>
    <ion-row>
        <ion-label fixed>新密码：</ion-label>
        <ion-input type="text" [(ngModel)]="newPassword" placeholder="请输入新密码"></ion-input>
    </ion-row>
    <ion-row>
        <ion-label fixed>新密码确认：</ion-label>
        <ion-input type="text" [(ngModel)]="newPasswordConfirm" placeholder="请再次输入新密码"></ion-input>
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button block primary (click)="resetPassword()">确定</button>
        </ion-col>
    </ion-row>
</ion-content>